/* CSS Stylesheet */

body{

}
.login-container {
  text-align: center;
}

.login-row {
  border-top: 1px solid white ;
  width: 35%;
  height: 250px;
  margin-top : 13%;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  display:inline-block;
  line-height:1.2;
  text-align:left;
  background-color: rgba(211,211,211,0.75);
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    right:0;
    width: 100%;
    height: 100%
    min-width: 100%;
    min-height: 100%;;
}
