.home { background-color: #fff; text-align: center; }

.home svg { height: 200px; }

.home path { -webkit-animation: 7s a forwards; animation: 7s a forwards; fill: #9b4dca; stroke: #9b4dca; stroke-dasharray: 38321; stroke-miterlimit: 10; stroke-width: 15px; }

.container { padding-bottom: 0; padding-top: 0; max-width: 80rem; }

.header { background: #f4f5f6; border-bottom: .1rem solid #d1d1d1; display: block; height: 5.2rem; left: 0; max-width: 100%; position: fixed; right: 0; top: 0; width: 100%; z-index: 1; }

.header__wrapper { max-width: 97%; margin: 0 auto; }

.brand { display: inline; font-size: 1.6rem; line-height: 5.2rem; padding: 0; text-decoration: none; color: #606c76; font-family: Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif; position: relative; }

.brand__img { fill: #9b4dca; height: 2rem; position: relative; top: .3rem; }

.brand__title { display: inline; font-size: 1.6rem; line-height: 5.2rem; padding: 0; text-decoration: none; }

.menu { list-style: none; margin-bottom: 0; margin-right: 5rem; }

@media (min-width: 80rem) { .menu { margin-right: 0; } }

@media (max-width: 380px) { .menu { display: none; } }

.menu__item { float: left; margin-bottom: 0; margin-left: 2.5rem; position: relative; }

.menu__link { display: inline; font-size: 1.6rem; line-height: 5.2rem; padding: 0; text-decoration: none; }

.aside { background-color: #2a4052; position: fixed; height: 100%; margin-top: 5.2rem; overflow: auto; }

.aside::-webkit-scrollbar-track { background-color: transparent; }

.aside::-webkit-scrollbar { width: 8px; background-color: transparent; }

.aside::-webkit-scrollbar-thumb { background-color: #b4b4b4; }

.nav { padding-left: 1em; padding-top: 1em; font-size: 1.3rem; color: #fff; }

@media (max-width: 640px) { .nav { padding-right: 1em; } }

.nav .is-active { background-color: #9b4dca; }

.nav-list { list-style: none; }

.nav-list li a { border-radius: 2px; display: block; padding: .5em .75em; color: #fff; }

.nav-list li a:hover { color: #fff; background-color: #b174d6; }

@media (max-width: 640px) { .nav-list li a span { display: none; } }

.nav-list li ul { list-style: none; border-left: 1px solid #dbdbdb; margin: .75em; padding-left: .75em; }

.nav-label { text-transform: uppercase; padding-bottom: .5em; }

@media (max-width: 640px) { .nav-label { display: none; } }

.content { position: fixed; height: 100%; margin-top: 5.2rem; padding: .5em !important; overflow: auto; }

.content__title { color: #9b4dca; }

.content__wrapper { padding-left: .8em; }

.content::-webkit-scrollbar-track { background-color: transparent; }

.content::-webkit-scrollbar { width: 8px; background-color: transparent; }

.content::-webkit-scrollbar-thumb { background-color: #b4b4b4; }

.card { background-color: #9b4dca; color: #fff; border-radius: 3px; padding: 1.25rem !important; margin: 0 .5em .5em 0; webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }

.card__title { font-size: 1.3rem; text-transform: uppercase; }

.big-text { font-size: 6rem; }

.small-text { font-size: 1.2rem; }

.green-text { color: #00d1b2; }

.red-text { color: #ff3860; }

.yellow-text { color: #ffdd57; }

.space-bottom { margin-bottom: 1em; }